{% load static %}
{% load app_filters %}

<div class="question">
    <div class="row">
        <div class="col-2">
            <div class="row">
                <div class="col-4">
                    {% if question|isLikeUp:request.user.profile %}
                        <button class="fs-3 button-likes like-question like-up" data-id="{{question.id}}">{{ question.like_set.all.count }}</button>
                    {% else %}
                        <button class="fs-3 button-likes like-question" data-id="{{question.id}}">{{ question.like_set.all.count }}</button>
                    {% endif %}
                </div>

                <div class="col-8">
                    <div class="question_avatar">
                        <img src="{{ question.author.user.profile.avatar.url }}" alt="Avatar" />
                    </div> 
                </div>
            </div>

        </div>

        <div class="col-10">
            <a href = "{% url 'question' question_id=question.id %}"><h3 class="question-title">{{ question.title }}</h3></a>
            <div class="question-text">{{ question.text }} </div>
            <a href="{% url 'question' question_id=question.id %}" style="margin-right: 20px;">answer({{ question.answer_set.all.count }})</a>
            <h6 style="display: inline-block;">Tags: </h6>
            {% include 'inc/question_tags.html' %}
        </div>
    </div>
</div>